<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Server_Java</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetBooksInfo</display-name>
    <servlet-name>GetBooksInfo</servlet-name>
    <servlet-class>books.GetBooksInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBooksInfo</servlet-name>
    <url-pattern>/GetBooksInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnQRcode</display-name>
    <servlet-name>EnQRcode</servlet-name>
    <servlet-class>code.EnQRcode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnQRcode</servlet-name>
    <url-pattern>/EnQRcode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbOperations</display-name>
    <servlet-name>DbOperations</servlet-name>
    <servlet-class>db.DbOperations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbOperations</servlet-name>
    <url-pattern>/DbOperations</url-pattern>
  </servlet-mapping>
</web-app>